<% if signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section>
        <%= render 'shared/task_form', task: @task %>
      </section>
      <section class="flash">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Tasks</h3>
      <%= render 'shared/task_list', task_list: @task_list, id: "root" %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>T2: Tasker, version 2</h1>

    <h2>
      All your tasks, one place.
    </h2>


  </div>
  
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_tag sessions_path do %>
      <%= field_set_tag 'Sign in' %>
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email] %>

      <%= label_tag :password %>
      <%= password_field_tag :password %>

      <%= submit_tag "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <hr />
  </div>
</div>
<div class="row" style="text-align: center;">
    <p>New user?</p>
    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
</div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>
