<span class="row">
<% task.ancestors(from_depth: -4).each do |t| %>
  <%= link_to t.title, task_path(t), class: "btn" %> &gt;
<% end %>
</span>

<h3 class="title"><%= editable task, :title %></h3>
<div class="row-fluid">
<span class="span2">
  <%= editable task, :completed, source: ["Completed", "Pending"] %>
</span>
<span class="span4">
  <%= editable task, :description %>
</span>

<span class="span2">
  <%= editable task, :due_date, type: "combodate", 
                format: "YYYY-MM-DD HH:MM:ss",
                template: "YYYY / MM / DD  HH:mm:ss" %>
</span>

<span class="span1 pull-right">
<% if current_user?(task.user) %>
  <%= link_to "delete", task, method: :delete,
                                   data: { confirm: "You sure?" },
                                   title: task.title,
                                   class: "btn btn-inverse" %>
<% end %>
</span>
</div>

<% task.children.limit(4).each_with_index do |t, i| %>
  <span class="row"><span class="pull-right">
    &gt; <%= i == 3 ? "..." : link_to(t.title, task_path(t), class: "btn") %>
  </span></span>
<% end %>

<div class="row">
<aside class="span4">
  <%= render "shared/task_form", task: task.children.build %>
</aside>
</div>
