<span class="row">
<% task.ancestors(from_depth: -4).each do |t| %>
  <%= link_to t.title, task_path(t), class: "btn btn-default" %> &gt;
<% end %>
</span>

<div class="container task">

<div class="row"><h3 class="title col-md-12">
  <%= editable task, :title %>
</h3></div>

<div class="row task header">
<span class="col-md-2">Completed?</span>
<span class="col-md-4">Description</span>
<span class="col-md-4">Due Date</span>
</div>
<div class="row task">
<span class="col-md-2">
  <%= render "shared/completed_form", task: task %>
</span>
<span class="col-md-4">
  <%= editable task, :description %>
</span>

<span class="col-md-4">
  <%= editable task, :due_date, type: "combodate", 
                format: "YYYY-MM-DD HH:MM:ss",
                template: "YYYY / MM / DD  HH:mm:ss" %>
</span>

<span class="col-md-1 pull-right">
<% if current_user?(task.user) %>
  <%= link_to "delete", task, method: :delete,
                                   data: { confirm: "You sure?" },
                                   title: task.title,
                                   class: "btn btn-warning" %>
<% end %>
</span>
</div>
</div>

<div class="row">
  <aside class="col-md-4">
    <%= render "shared/task_form", task: task.children.build, 
               placeholder: "New child task..." %>
  </aside>
  <div class="col-md-4 pull-right">
  <% task.children.each_with_index do |t, i| %>
    <span class="row"><span class="pull-right" style="display: inline">
      &gt; <%= link_to(t.title, task_path(t), 
                    class: "btn btn-default btn-sm childlink") %>
    </span></span>
  <% end %>
</div>


</div>
