<% editor = current_user.editor? task %>

<span class="row">
<% task.ancestors(from_depth: -4).each do |t| %>
  <%= link_to t.title, task_path(t), class: 'btn btn-default' %> &gt;
<% end %>
</span>

<div class="container task">

<div class="row"><h3 class="title col-md-12">
  <% if editor %>
    <%= editable task, :title %>
  <% else %>
    <span><%= task.title %></span>
  <% end %>

</h3></div>

<div class="row task header">
<span class="col-md-1">Completed?</span>
<span class="col-md-4">Description</span>
<span class="col-md-3">Due Date</span>
<span class="col-md-1">Priority</span>
<span class="col-md-1">Status</span>
</div>
<div class="row task">
<span class="col-md-1">
  <%= render 'shared/completed_form', task: task %>
</span>
<span class="col-md-4">
  <% if editor %>
    <%= render 'shared/description_editable', task: task %>
  <% else %>
    <span class="description"><%= raw task.description_parsed %></span>
  <% end %>
</span>

<span class="col-md-3">
  <% if editor %>
    <%= editable task, :due_date, type: 'combodate', class: 'datepicker',
                format: 'YYYY-MM-DD', template: 'YYYY / MM / DD',
                date_orientation: 'bottom',
                datepicker: {todayBtn: 'linked', orientation: 'bottom'}
                %>
  <% else %>
    <% if task.due_date %>
      <abbr class="timestamp daysfromnow" title="<%= task.due_date %>">
        <%= task.due_date %>
      </abbr>
    <% else %>
      <span class="text-muted">(no due date)</span>
    <% end %>
  <% end %>
</span>

<span class="col-md-1">
  <% if editor %>
    <%= editable task, :priority, mode: 'popup', placement: 'bottom' %>
  <% else %>
    <span><%= task.priority %></span>
  <% end %>
</span>

<span class="col-md-1">
  <% if editor %>
    <%= editable task, :status, mode: 'popup', placement: 'bottom' %>
  <% else %>
    <span><%= task.status %></span>
  <% end %>
</span>

<span class="col-md-1 pull-right">
<% if current_user.owner?(task) %>
  <%= link_to 'delete', task, method: :delete,
                                   data: { confirm: 'You sure?'},
                                   title: task.title,
                                   class: 'btn btn-warning' %>
<% end %>
</span>
</div>
</div>

<div class="row">
  <div class="col-md-4">
    <table class="table table-striped table-bordered">
      <tr><th>Permissions</th></tr></tr>
      <% task.permissions.each do |p| %>
        <tr id="permission_<%= p.id %>"><%= render p %></tr>
      <% end %>
        <tr id="permission"><%= render task.permissions.build %></tr>
    </table>
  </div>
</div>

<div class="row">
  <aside class="col-md-4">
    <%= render 'shared/task_form', task: task.children.build,
               placeholder: 'New child task...' %>
    <section class="flash">
      <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </section>
  </aside>
  <div class="col-md-4 pull-right">
  <% task.children.each_with_index do |t, i| %>
    <span class="row"><span class="pull-right" style="display: inline">
      &gt; <%= link_to(t.title, task_path(t), 
                    class: 'btn btn-default btn-sm childlink') %>
    </span></span>
  <% end %>
</div>


</div>
