<td>
  <% if permission.user %>
    <%= permission.user.name %>
  <% else %>
      <%= select_tag(:user,
                     options_for_select(
                             [['Select user...', -1]] + current_user.followed_users.map { |u| [u.name, u.id] }, -1
                     )
          )
      %>
  <% end %>
  <span class="permission-throbber" style="display:none;">
    <%= image_tag('throbber.gif') %>
  </span>
  <span class="permission-success" style="display:none;">
    <%= image_tag('tick.png') %>
  </span>
  <span class="permission-failure" style="display:none;">
    <%= image_tag('cross.png') %>
  </span>
  <span class="permission-failure-text" style="display:none;">
    <br>
  </span>
</td>
<td>
  <% selection = if permission.owner
                   1
                 else
                   permission.editor ? 2 : 3
                 end %>
  <%= select_tag(:role,
                 options_for_select([['Owner', 1], ['Editor', 2], ['Viewer', 3]], selection.to_int),
                 data: permission.user ? { id: permission.id, url: permission_path(permission) } : {},
                 class: permission.user ? 'existing-role' : 'new-role'
      ) %>
</td>
<td>
  <% if permission.user %>
    <%= form_for(permission,
               html: { method: :delete },
               remote: true, class: 'permission-remove') do |f| %>
      <%= f.submit 'remove', class: 'btn btn-warning permission-remove' %>
    <% end %>
  <% else %>
    <%= form_for(permission, remote: true) do |f| %>
      <%= f.submit 'create', class: 'btn btn-success permission-create' %>
      <%= f.hidden_field :task_id %>
          <%= f.hidden_field :user_id %>
          <%= f.hidden_field :owner %>
          <%= f.hidden_field :editor %>
          <%= f.hidden_field :viewer %>
    <% end %>
  <% end %>
</td>
